*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-family:'Helvetica Neue';
}
html,body{
  background-color: #111;
  color:white;
  height: 100%;
  width: 100%;
}

.page1{
  background-color: #111;
  height: 100vh;
  width:100%;
}
.page2{
  background-color: #222;
  height: 100vh;
  width:100%;
}
.page3{
  background-color: #333;
  height: 100vh;
  width:100%;
}