*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: 'helvetica neue';

}
html,body{
  width:100%;
  height:100%;
}
input,button{
  padding:10px 20px;
  margin:10px;
  font-size: 15px;;
}