*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
 
}
html,body{
  width:100%;
  height:100%;
}
.card{
  background-color: pink;
  border-radius: 10px;
  margin:20px;
  padding:20px;

}
.nav{
  background-color: lightblue;
  padding:20px;
  margin:20px;
  border-radius: 10px;

}