*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: 'helvetica neue';
}
html,body{
  width:100%;
  height:100%;
  background-color: rgb(8, 11, 27);
}
button{
  padding:10px 20px;
  margin:25px;
}
h1{
  background-color: rgb(228, 204, 204);
  width:fit-content;
  font-size: 100px;
  padding:10px 80px;
  margin:30px;
  border-radius: 25px;
}